@summary-table-bg: #ecf0f7;
@summary-table-striped: #c4d2e7;
@summary-table-border-color: #ccc;
@summary-table-row-loading-bg: #9cb4d8;

.summary-table-container {
  .summary-table-sizing {
    height: 400px;
    overflow-y: scroll;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
  }

  .summary-table-chunk {
    height: 100%;
    width: 100%;
    border-spacing: 0;
  }

  .summary-table-row {
    height: 20px;
    padding: 1px;
  }

  .summary-table-header .summary-table-header-cell:first-child {
    padding-left: 5px;
  }
  .summary-table-row .summary-table-cell:first-child {
    min-width: 4ex !important;
    padding-left: 5px;
  }

  .summary-table-row-striped {
    background: @summary-table-striped;
  }

  .summary-table-cell-content {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
  }

  .summary-table-chunk-loading {
    width: 100%;
    position: absolute;
  }

  .summary-table-row-striped .summary-table-row-loading-bg {
    border-color: @summary-table-striped;
  }

  .summary-table-row-loading-bg {
    background: @summary-table-row-loading-bg;
    border: 5px solid @summary-table-bg;
    box-sizing: border-box;
  }

  .summary-table-row-loading {
    width: 100%;
    height: 20px;
    padding: 1px;
  }

  .summary-table-header {
    width: 100%;
    border-bottom: 2px solid @summary-table-border-color;
    padding: 5px 0;

    .summary-table-header-cell {
      display: table-cell;
    }
  }

  .summary-table-body {
    height: 400px;
    overflow-y: scroll;
    position: relative;
  }

  .summary-table-placeholder {
    width: 100%;
  }

  width: 80%;
  margin: 0 auto;
  display: block;
  background: @summary-table-bg;
  position: relative;
}

